* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #F4F4F4;
}

#hero {
    height: 285px;
    background: #6943FF;
    text-align: center;
    padding-top: 36px;
}

#hero h1 {
    color: white;
}

input {
    width: 118px;
    height: 84px;
    background-color: transparent;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 54px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

#btn {
    width: 118px;
    height: 42px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #3D3D3D;
    padding: 10px 20px;
    font-size: 16px;
}

#container {
    padding: 36px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 500px;
    height: 108px;
    background: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 18px;
    margin-bottom: 28px;
}

.item h3 {
    color: #5A537B;
    font-size: 20px;
}

.item p {
    color: #353535;
    font-size: 17px;
    margin-top: 12px;
}